/*****************************************************************
******														******
******			  LEARNING MANAGEMENT SYSTEM - CSS			******
******		  												******
*****************************************************************/

html,body {
	height: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

body {
	background-image: url("../img/bg-pattern.png");
	width: 100%;
	position: relative;
}

.hidden {
	display: none;
}

/*****************************************************************
 							 PANELS
*****************************************************************/

.panel-body, .tab-pane {
	min-height: 12rem;
}

/*****************************************************************
 							 TABS
*****************************************************************/

.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

ul.nav.nav-tabs {
	background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}

/*****************************************************************
 							 MODAL
*****************************************************************/

#modalError {
	display: inline-block;
	color: red;
  	font-weight: 700;
}

.modal {
	overflow-y: auto;
}

.modal-open {
	overflow: auto;
}

.modal-open[style] {
	padding-right: 0px !important;
}

.lessonModal {
	width: 90%;
}

.lessonModalHead {
	width: 100%;
}

.modalLead {
	font-weight: bold;
	font-size: 1.25rem;
}

/*****************************************************************
 							 DASHBOARD
*****************************************************************/
.container-fluid {
	width: 100%;
	padding-left: 0;
	position: relative;
  	top: -50px;
}

.mainbody {
	max-width: 90%;
	position: relative;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: block;
	padding: 9rem 6rem 4rem;
}

.mainbody .row{
	width: 100%;
	margin: 0 auto;
}

#sidebar {
	margin-top: 9rem;
  	position: absolute;
  	max-width: 10%;
  	padding: 0 0 0 15px;
}

#sidebar .row {
	padding: 2rem;
  	border-radius: .5rem;
  	-webkit-box-shadow: 5px 0 10px rgba(110, 99, 2, 0.6);
       -moz-box-shadow: 5px 0 10px rgba(110, 99, 2, 0.6);
            box-shadow: 5px 0 10px rgba(110, 99, 2, 0.6);
            background-color: #EDD605;
}

#sidebar .row, #sidebar .btn {
	display: block;
	margin: 0 auto 1rem;
	width: 100%;
	white-space: normal;
}

#sidebar .row:first-child {
	margin-bottom: 1rem;
}

span.personalSummary {
	font-weight: bold;
	color: #0D6BFF;
}

/*****************************************************************
 							 LOGIN
*****************************************************************/

#log-container {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	-webkit-box-shadow:0 5px 10px rgba(110, 99, 2, 0.6);
       -moz-box-shadow:0 5px 10px rgba(110, 99, 2, 0.6);
            box-shadow:0 5px 10px rgba(110, 99, 2, 0.6);
	background-color: #EDD605;
	padding: .5rem 3rem 3rem;
	border-radius: .75rem;
}

#log-container h1{
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	margin-top: 1.25rem;
}

#login {
	border-radius: .75rem;
	background-color: rgba(39,51,59,1);
	padding: 2rem;
	-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.6);
       -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.6);
            box-shadow:0 5px 10px rgba(0, 0, 0, 0.6);
}

#login label {
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	letter-spacing: .0625rem;
	color: #EDD605;
}

#login input {
	display: block;
	margin-bottom: 2rem;
	border-radius: .5rem;
}

#login button[type="submit"] {
	margin-top: 1rem;
	clear: both;
}

.loginError {
	color: red;
}

/*****************************************************************
 							 NAVBAR
*****************************************************************/
nav {
	background-color: #80BA17;
  	width: 100%;
}


.navbar-brand {
	position: relative;
	margin-left: 2rem;
	padding: 0;
}

nav #banner {
	width: 17%;
  	position: absolute;
  	left: 42%;
}

nav #banner img{
	width: 100%;
}

#navlinks {
	margin-right: 2rem;
	padding-top: 5px;
}

#navlinks a{
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: right;
}

#navlinks a:hover {
	color: #FFEEA8;
}

.navbar-inverse {
	background-image: linear-gradient(to bottom,#34444F 0,#27333B 100%);
}

.navbar-inverse .navbar-brand {
	color: #EDD605;
}

.navbar-inverse .navbar-brand:hover {
	color: #BDAA04;
}

.navbar-brand img {
 	width: 5.7rem;
  	display: inline-block;
}

nav p {
	margin: 0;
}

/*****************************************************************
 							 WIZARD
*****************************************************************/

#wizHeader {
	padding: .5rem;
	margin-bottom: 2rem;
}

#wizHeader, .wizBody {
	background-color: #ddd;
	-webkit-box-shadow: inset 0 -10px 5px -10px #000000;
	   -moz-box-shadow: inset 0 -10px 5px -10px #000000;
			box-shadow: inset 0 -10px 5px -10px #000000;
}

#wizHeader h1, #wizHeader p {
	margin: 0 2rem;
}

.wizBody {
	padding: 3rem 15px;
	border-radius: 1rem;
}

.wizBody .wizbtn {
	margin-top: 2rem;
}

.wizBody form .required {
	position: absolute;
  	top: 90%;
  	left: 5%;
}

#wizError {
	color:red;
	margin: 0 5rem 2rem;
}

.lessonTwo textarea, .lessonFive {
	margin-bottom: 2rem;
}

.lessonTwo div {
	padding: 0;
}

.wizard3-4 {
	width: 100%;
}


/*****************************************************************
 							 FORM
*****************************************************************/

.glyphicon-asterisk {
	color: red;
  	font-size: 8px;
  	top: -4px;
}

legend {
	color: #74907C;
	border-bottom: 1px solid #74907C;
	font-weight: 700;
}

fieldset:not(:first-child) {
	margin-top: 4rem;
}

/*****************************************************************
 							 FORM
*****************************************************************/

.table {
	text-align: left;
}